# Copy to: ~/.dotfiles/config/azure-subscriptions.env (this file should usually stay local)
#
# Set subscription IDs or names:
#   export AZ_SUB_PROD="00000000-0000-0000-0000-000000000000"
#   export AZ_SUB_SHARED="Shared Subscription Name"
#   export AZ_SUB_STAGE="..."
#   export AZ_SUB_DEV="..."
#
# Optional:
#   export AZ_TENANT_ID="00000000-0000-0000-0000-000000000000"
